In [18]:
#START OF LAMBDA EXPRESSIONS, MAP, FILTER

In [ ]:
#map functions to map a function to everthing in a list.

In [2]:
def square(num):
    return num**2

In [3]:
my_nums = [1,2,3,4,5]

In [4]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [5]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [7]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [8]:
names = ['Andy','Eve','Sally']

In [10]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [11]:
def check_even(num):
    return num%2 == 0

In [14]:
mynums = [1,2,3,4,5,6]

In [15]:
list(filter(check_even,mynums))

[2, 4, 6]

In [16]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [19]:
#lamda expresion

In [20]:
def square(num):
    result = num ** 2
    return result

In [21]:
square(3)

9

In [22]:
#Returns the same value as square above 
def square(num): return num ** 2

In [23]:
#lambda expression that returns the same thing as function above.
lambda num: num ** 2

In [24]:
square(5)

25

In [25]:
#Now we bring lambda into map to save time and space in the code

In [27]:
list(map(lambda num: num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [28]:
#Just wrote the function inside of the map function using lambda.

In [30]:
list(filter(lambda num:num%2 == 0,mynums))

[2, 4, 6]

In [31]:
names

['Andy', 'Eve', 'Sally']

In [32]:
list(map(lambda name:name[0],names))

['A', 'E', 'S']

In [34]:
list(map(lambda name:name[::-1],names))

['ydnA', 'evE', 'yllaS']

In [35]:
#END OF LAMBDA EXPRESSIONS, MAP , FILTER

In [36]:
#START OF NESTED STATEMENTS AND SCOPES

In [37]:
x = 25

def printer():
    x = 50 
    return x

In [38]:
print(x)

25

In [40]:
print(printer())

50

In [41]:
#lambda num:num ** 2

In [56]:
name = 'THIS IS A GLOBAL STRING'

def greet():
    
    name = 'Sammy'
    
    def hello():
        print('Hello '+ name)
        
    hello()

In [57]:
greet()

Hello Sammy